.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .sectionTitle {
        font-size: 0.7rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
    }
}
