.vscode/**
.vscode-test/**
.gitignore
.yarnrc
.env
.env.*
vsc-extension-quickstart.md
**/node_modules/**
**/out/**
esbuild.config.mjs
src/**
webview/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.tsx
**/*.scss
**/.vscode-test.*
.vscode-peer*/**

!package.json
!README.md
!CHANGELOG.md
!LICENSE
!media/**
!dist/**
!webview/build/**
!node_modules/node-pty/**
