.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;

    .chatContent {
        display: flex;
        align-items: flex-end;
        padding: 8px;
        gap: 8px;
        background-color: #264f78;
        border-radius: 8px;

        .chatMessage {
            word-break: break-word;
        }

        .chatTimestamp {
            font-weight: bold;
            font-size: 0.7rem;
            opacity: 0.5;
            white-space: nowrap;
        }
    }

    &.ownMessage {
        align-items: flex-end;

        .chatContent {
            background-color: #424750;
        }
    }
}
